@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

:root {
    --clr-primary:#333333;
    --navBar-margin:2.625rem;
    --heroImage-margin:2.625rem;
    --home-description-margin:2.625rem;
    --service-heading-margin-top:12.5rem;
    --service-heading-margin-bottom:2.625rem;
    --cart-grid-column-gap:2.5rem;
    --Our-margin-top:20rem;
    --Clients-margin-top:13.717rem;
    --clients-info-div-gap:11.75rem;
    --teamPicture-gap:1.5rem;
    --review-margin-top:12.25rem;
    --reviewGrid-margin-top:2.25rem;
    --footer-margon-top:12.5rem;
    --footerGrid-padding-top:2.875rem;

    --fs-navItems:1.5rem;
    --fs-navHeading:2.25rem;
    --fs-headinglink:1.125rem;
    --fs-heading:3rem;
    --fs-subHeading:3rem;
    --fs-email-contact-heading:0.875rem;
    --fs-email-div_input:1.125rem;
    --fs-blue-join:1.125rem;
    --fs-service-heading:2.25rem;
    --fs-service-name:1.5rem;
    --fs-service-name-desc:1rem;
    --fs-service-start:1rem;
    --fs-our-heading:2.25rem;
    --fs-workTech:0.875rem;
    --fs-workHeadline:1.5rem;
    --fs-see-more:1.5rem;
    --fs-reviewHeading:2.25rem;

    --heading-width:33.938rem;
    --heading-height:9rem;
    --subHeading-width:22.875rem;
    --subHeading-height:8.813rem;
    --email-contact-div-width:21.875rem;
    --email-contact-div-height:5.438rem;
    --blue-join-width:5.875rem;
    --blue-join-height:3.063rem;
    --email-div-width:21.875rem;
    --email-div-height:3.563rem;
    --heroImage-width:83.25rem;
    --heroImage-height:22.125rem;
    --service-card-div-width:69.75rem;
    --service-heading-width:21.625rem;
    --service-heading-height:6.75rem;
    --service-cards-width:21.313rem;
    --service-cards-height:28.741rem;
    --our-heading-width:28rem;
    --our-heading-height:6.75rem;
    --work-images-width:34.063rem;
    --work-images-height:34.063rem;
    --workTech-width:11.493rem;
    --workTech-height:1.653rem;
    --workHeadline-width:22.986rem;
    --workHeadline-height:2.834rem;
    --see-more-width:7.063rem;
    --see-more-height:2.25rem;
    --Clients-width:69.75rem;
    --teamPicture-width:39.714rem;
    --teamPicture-height:36.5rem;
    --teamImage1-width:20rem;
    --teamImage1-height:20rem;
    --teamImage2-width:16.25rem;
    --teamImage2-height:16.25rem;
    --teamImage3-width:18.214rem;
    --teamImage3-height:18.75rem;
    --review-width:69.75rem;
    --reviewHeading-width:58.563rem;
    --reviewHeading-height:10.125rem;

}

@media (width < 700px){
    :root{
        --navBar-margin:0.813rem;
        --heroImage-margin:0.938rem;
        --home-description-margin:1.938rem;
        --service-heading-margin-top:6.375rem;
        --service-heading-margin-bottom:2.875rem;
        --cart-grid-row-gap:2.5rem;
        --Our-margin-top:11rem;
        --Clients-margin-top:6.25rem;
        --clients-info-div-gap:2.25rem;
        --teamPicture-gap:0.557rem;
        --review-margin-top:6.25rem;
        --reviewGrid-margin-top:1.125rem;
        --footer-margon-top:6.25rem;
        --footerGrid-padding-top:2.25rem;

        --fs-navHeading:1.5rem;
        --fs-headinglink:0.75rem;
        --fs-heading:1.5rem;
        --fs-subHeading:1.5rem;
        --fs-email-contact-heading:0.625rem;
        --fs-email-div_input:0.875rem;
        --fs-blue-join:0.875rem;
        --fs-service-heading:1.5rem;
        --fs-our-heading:1.5rem;
        --fs-workTech:0.75rem;
        --fs-workHeadline:1.125rem;
        --fs-see-more:1.125rem;
        --fs-reviewHeading:1.5rem;

        --heading-width:17rem;
        --heading-height:4.5rem;
        --subHeading-width:14.188rem;
        --subHeading-height:3.625rem;
        --email-contact-div-width:18.188rem;
        --email-contact-div-height:4.25rem;
        --blue-join-width:4.438rem;
        --blue-join-height:2.438rem;
        --email-div-width:18.188rem;
        --email-div-height:4.25rem;
        --heroImage-width:21.75rem;
        --heroImage-height:9.063rem;
        --service-heading-width:16.188rem;
        --service-heading-height:4.5rem;
        --service-cards-width:21.313rem;
        --service-cards-height:26.375rem;
        --our-heading-width:16.688rem;
        --our-heading-height:4.5rem;
        --work-images-width:21.938rem;
        --work-images-height:21.938rem;
        --workTech-width:18.338rem;
        --workTech-height:1.097rem;
        --workHeadline-width:21.323rem;
        --workHeadline-height:1.889rem;
        --see-more-width:5.313rem;
        --see-more-height:1.688rem;
        --Clients-width:21.813rem;
        --teamPicture-width:21.833rem;
        --teamPicture-height:20.043rem;
        --teamImage1-width:11.135rem;
        --teamImage1-height:11.135rem;
        --teamImage2-width:9.048rem;
        --teamImage2-height:9.048rem;
        --teamImage3-width:10.141rem;
        --teamImage3-height:10.439rem;
        --review-width:22rem;
        --reviewHeading-width:21.938rem;
        --reviewHeading-height:11.25rem;

    }
}
/* body{
    overflow-x: hidden;
} */
.container{
    width: max(100%, 1442px);
    margin: auto;
}
.flexClass{
    display: flex;
    flex-direction: column;
}

/* Home section */

.navBar{
    /* margin-top: var(--navBar-margin); */
    width: min(100%, 1442px);
    margin: var(--navBar-margin) auto auto auto;
    position: sticky;
    top: 0;
    /* border: 2px solid red; */
}
/* .sectionContent > :not(img){ */
.sectionContent{
    /* width: min(100%, 880px); */
    width:880px;
    /* width: fit-content; */
    /* position: relative; */
    /* left: 3.5rem; */
    /* right: 3.5rem; */
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 2px solid red; */
}

.navItems{
    font-family: Poppins;
    font-size: var(--fs-navItems);
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: var(--clr-primary);
}
.navHeading{
    font-family: Heebo;
    font-size: var(--fs-navHeading);
    font-weight: 800;
    line-height: 53px;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: var(--clr-primary);
}
.headinglink{
    margin-top: 96px;
    margin-bottom: 1rem;
    font-family: Poppins;
    font-size: var(--fs-headinglink);
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: #2D9CDB;
}
.heading{
    margin-top: 1rem;
    width: var(--heading-width);
    height: var(--heading-height);
    font-family: Poppins;
    font-size: var(--fs-heading);
    font-weight: 500;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: var(--clr-primary);
}
.imgDiv{
    display:grid;
    width: var(--heroImage-width);
    position: relative;
    left: -14rem;
}
.heroImage{
    margin: var(--heroImage-margin) 0;
    width: min(100%, var(--heroImage-width));
    height: var(--heroImage-height);
    border-radius: 18px;
    /* border: 12px solid brown; */
}
.subHeading-div{
    display: flex;
    flex-direction: column;
}
.subHeading{
    width:var(--subHeading-width);
    height: var(--subHeading-height);
    font-family: Poppins;
    font-size: var(--fs-subHeading);
    font-weight: 500;
    /* line-height: 72px; */
    letter-spacing: 0em;
    /*text-align: left;*/
    color: var(--clr-primary);    
}
.home-description{
    margin: var(--home-description-margin) 0;
    width: 366px;
    height: 137px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: #4F4F4F;
}
.email-contact-div{
    width: var(--email-contact-div-width);
    height: var(--email-contact-div-height);
}
.email-contact-heading{
    font-family: Poppins;
    font-size: var(--fs-email-contact-heading);
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: #828282;
}
.email-div{
    margin-top: 0.563rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: var(--email-div-width);
    height: var(--email-div-height);
    /* border: solid 2px gold; */
    border-radius: 12px;
    background-color: #F2F2F2;
    padding: 10px;
}
.email-div input{
    width: auto;
}
.email-div input,
.email-div ::placeholder{
    outline: none;
    font-family: Poppins;
    font-size: var(--fs-email-div_input);
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: #BDBDBD;
    background-color: #f2f2f2;
    border: 0;
}
.blue-join{
    cursor: pointer;
    border: 0;
    width: var(--blue-join-width);
    height: var(--blue-join-height);
    border-radius: 12px;
    background-color: #2D9CDB;
    font-family: Poppins;
    font-size: var(--fs-blue-join);
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    color: #F2F2F2;
}

/* Service section */
.web-work{
    margin: auto;
    width: min(100%,70rem);
    border: 2px solid red;
}
.service-card-div{
    width: var(--service-card-div-width);
    position: relative;
    /* left: -6.7rem; */
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(min(800px, 100%), 1fr)); */
}
.service-heading{
    margin-top: var(--service-heading-margin-top);
    margin-bottom: var(--service-heading-margin-bottom);
    width: var(--service-heading-width);
    height: var(--service-heading-height);
    font-family: Poppins;
    font-size: var(--fs-service-heading);
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    color: var(--clr-primary);
}
.cart-grid{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(min(344px, 100%),3fr));
    /* grid-template-columns: repeat( auto-fit, minmax(250px, 1fr)); */
    column-gap: var(--cart-grid-column-gap);
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    border: 2px solid lawngreen;
    
}
.service-cards{
    
    width: var(--service-cards-width);
    height: var(--service-cards-height);
    border: 2px solid violet;
    padding: 2.875rem 2.063rem 0px 2.063rem;
}
.service-cards:hover{
    cursor: pointer;
    box-shadow: 0px 10px 30px 0px #33333352;
}
.card-symbol-background{
    align-items: center;
    justify-content: center;
    width: 4.188rem;
    height: 4.188rem;
    border-radius: 16px;
    /* background-color: #2D9CDB; */
}
.symbol-design{
    color: #FFFFFF;
}
.material-symbols-sharp {
    font-size: 36px;
}
.material-symbols-rounded {
    font-size: 36px;
}
.service-name{
    margin: 2.188rem 0 1.5rem 0;
    font-family: Poppins;
    font-size: var(--fs-service-name);
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: var(--clr-primary);
}
.service-name-desc{
    font-family: Poppins;
    font-size: var(--fs-service-name-desc);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: #4F4F4F;
}
.service-start{
    border: 0;
    margin-top: 1.875rem;
    width: 7.25rem;
    height: 2.625rem;
    border-radius: 12px;
    font-family: Poppins;
    font-size: var(--fs-service-start);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #828282;
    background-color: #E0E0E0;
    
}
.service-card-div button:hover{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #2D9CDB;
}

/* Our-works section  */

#Our{
    margin-top: var(--Our-margin-top);
}
.our-heading{
    width: var(--our-heading-width);
    height: var(--our-heading-height);
    font-family: Poppins;
    font-size: var(--fs-our-heading);
    font-weight: 500;
    letter-spacing: 0em;
    /* border: 2px solid red; */
}
.work-gallary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr, 1fr; */
    position: relative;
    height: fit-content;
    column-gap: 1.25rem;
    /* border: 2px solid red; */
}
.work-gallary div:nth-child(odd){
    margin-top: 11rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.work-gallary div:nth-child(even){
   height: fit-content;
}
.work-gallary div:hover{
    box-shadow: 0px -25px 20px -20px rgba(8, 25, 174, 0.45), 25px 0 20px -20px rgba(8, 25, 174, 0.45), 0px 25px 20px -20px rgba(8, 25, 174, 0.45), -25px 0 20px -20px rgba(8, 25, 174, 0.45);
}
.img-container:hover{
    cursor: pointer;
    box-shadow: 20px 50px 70px 0px #2103a63c;
}
.work-images{
    width: var(--work-images-width);
    height: var(--work-images-height);
    border-radius: 12px;
    margin-bottom: 1.25rem;
}
.workTech{
    width: var(--workTech-width);
    height: var(--workTech-height);
    font-family: Poppins;
    font-size: var(--fs-workTech);
    font-weight: 300;
    letter-spacing: 0em;
    color: #828282;
}
.workHeadline{
    width: var(--workHeadline-width);
    height: var(--workHeadline-height);
    font-family: Poppins;
    font-size: var(--fs-workHeadline);
    font-weight: 500;
    letter-spacing: 0em;
    color: var(--clr-primary);
}
.seemoreDiv{
    display: flex;
    align-items: center;
    position: relative;
    top: -4rem;
    justify-content: flex-end;
}
.see-more,
.arrow-right:hover{
    cursor: pointer;
}
.see-more{
    width: var(--see-more-width);
    height: var(--see-more-height);
    font-family: Poppins;
    font-size: var(--fs-see-more);
    font-weight: 500;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: #2D9CDB;
}
.arrow-right{
    margin-left: 0.8rem;
    display: flex;
    width: 0.986rem;
    height: 0.974rem;
    color: #2D9CDB;
}
.seemoreDiv,
 .material-symbols-outlined{
    font-size: 1.125rem;
}

/* Clients section */
#Clients{
    margin-top: var(--Clients-margin-top);
    width: var(--Clients-width);
    position: relative;
    /* left: -7rem; */
    /* border: 2px solid red; */
}
.clients-info-div{
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    gap: var(--clients-info-div-gap);
}
.teamInfo{
    /* display: flex;
    flex-direction: column; */
    width: 17.5rem;
    /* height: 258px; */
    justify-content: center;
}
.teamPicture{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--teamPicture-gap);
    width: var(--teamPicture-width);
    height: var(--teamPicture-height);
}
.teamImage1{
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    align-self: center;
}
.team-Info-Heading{
    width: 17.5rem;
    height: 1.688rem;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0em;
    color: #EB5757;
}
.team-Info-Description{
    margin: 0.438rem 0 0.875rem 0;
    width: 17.5rem;
    height: 10.125rem;
    font-family: Poppins;
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: 0em;
    color: var(--clr-primary);    
}
.team-Info-AboutUs{
    width: 17.063rem;
    height: 3rem;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0em;
    color: #4F4F4F;    
}
.teamImage1{
    width: var(--teamImage1-width);
    height: var(--teamImage1-height);
    border-radius: 24px;
}
.teamImage2{
    width: var(--teamImage2-width);
    height: var(--teamImage2-height);
    border-radius: 24px;
}
.teamImage3{
    width: var(--teamImage3-width);
    height: var(--teamImage3-height);
    border-radius: 24px;
}

/* review section */

.review{
    margin-top: var(--review-margin-top);
    width: var(--review-width);
    position: relative;
    /* left: -7rem; */
    /* border: 2px solid red; */
}

.reviewHeading{
    width: var(--reviewHeading-width);
    height: var(--reviewHeading-height);
    font-family: Poppins;
    font-size: var(--fs-reviewHeading);
    font-weight: 500;
    letter-spacing: 0em;
    /*text-align: left;*/
    color: var(--clr-primary);    
}
.reviewGrid{
    margin-top: var(--reviewGrid-margin-top);
    width: 19rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.875rem;
    /* border: 2px solid green; */
}
.reviewerPic{
    width: 5.125rem;
    height: 5.125rem;
    border-radius: 0.75rem;
}
.column2{
    justify-content: space-around;
}
.reviewerName{
    width: 8.75rem;
    height: 2.25rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0em;
    color: var(--clr-primary);
}
.reviewerPost{
    width: 11.938rem;
    height: 1.688rem;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0em;
    color: #828282;    
}

/* footer section */


.footer{
    margin-top: var(--footer-margon-top);
    background-color: #100E1D;
    /* width: 90.125rem; */
}

.footerGrid{
    padding-top: var(--footerGrid-padding-top);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 90.125rem; 
}
.navLinks a{
    cursor: pointer;
    text-decoration: none;
}
.navLinks{
    width: 11.25rem;
    height: 11.25rem;

}
.linksName{
    width: fit-content;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FFFFFF;
}
.aboutUs, .contactUs{
    justify-self: baseline;
}
.aboutUs a{
    text-decoration: none;
    color: #F2F2F2;
}
.social-media-Icon img:hover{
    cursor: pointer;
}
.social-media-Icon img:nth-child(2){
    margin: 0 0.688rem;
}
.socialLiks{
    width: 1.5rem;
    height: 1.5rem;
}
.email-contact-heading-contactUs{
    color: #F2F2F2;
}

.devFooter{
    margin-top: 7.375rem;
    padding-bottom:1rem;
    align-items: center;
}
.devFooterText{
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0em;
    color: #F2F2F2;
}

.devFooterText b{
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0em;
}
.devFooterText strong{
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0em;
}


/* Mobile */

@media only screen and (max-width :600px){
    /* .cart-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%),1fr));
        column-gap: var(--cart-grid-column-gap);
    } */
}